<% if current_user %>
  <h1>Hello <%= current_user.username.capitalize %>! It's nice to see you again!</h1>
  <%= link_to "Sign Out", sign_out_path %>
<% else %>
  <%= link_to "Sign in", "/auth/github" %>
<% end %>
