body, a {
  margin: 0;
}

header {
  background-image: url(https://s3-us-west-2.amazonaws.com/visualizing-github/github+copy.jpeg);
  height: 100vh;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.hi h1 {
  text-align: center;
}

.btn {
  font-size: 20px;
  margin-top: 40px;
  border: 1px solid #656565;
  border-radius: 2px;
  padding: 7px;
  height: 40px;
  background: #80bbe5;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px #656565;
}

.logo {
  @include span-columns(2);
  @include shift(4);
  border-radius: 3px;
}

.hi {
  @include outer-container;
}

.hi nav a {
  float: right;
}

.hi nav:after {
  content: "";
  display: block;
  clear: both;
  height: 10px;
}

.hi a:nth-child(2){
  margin-right: 20px;
}

.info {
  @include span-columns(2);
}

.divider:after {
  content: "";
  display: block;
  height: 20px;
  clear: both;
}

#chart-container {
  @include span-columns(6);
}
