body, a {
  margin: 0;
}

header {
  background-image: url(https://s3-us-west-2.amazonaws.com/visualizing-github/github+copy.jpeg);
  height: 100vh;
  background-size: cover;
  // opacity: 0.4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 20px;
  color: white;
}

.logo {
  @include span-columns(1);
  border-radius: 3px;
}
