body, a {
  margin: 0;
}

body {
  font-family: "Lucida Grande", "Times New Roman", Georgia, Serif;
}

.color {
  background-color: #f9e4d8;
}

.l {
  margin-top: 30px;
}

header {
  background-image: url(https://s3-us-west-2.amazonaws.com/visualizing-github/github+copy.jpeg);
  height: 100vh;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.hi h1 {
  text-align: center;
}

.btn {
  font-size: 20px;
  margin-top: 40px;
  border: 1px solid #656565;
  border-radius: 2px;
  padding: 7px;
  height: 40px;
  background: #80bbe5;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px #656565;
}

.logo {
  @include span-columns(2);
  @include shift(4);
  border-radius: 3px;
}

.info {
  @include span-columns(3);
}

.hi {
  @include outer-container;
}

.hi nav a {
  float: right;
}

.hi nav:after {
  content: "";
  display: block;
  clear: both;
  height: 10px;
}

.hi a:nth-child(2){
  margin-right: 20px;
}

.divider:after {
  content: "";
  display: block;
  height: 20px;
  clear: both;
}

#chart-container {
  @include span-columns(6);
}

#chart-container-activity {
  @include span-columns(6);
}

@media (max-width: 768px) {
  .logo {
    @include span-columns(2);
    @include shift(2);
  }
  .info {
    @include span-columns(5);
  }

  #chart-container {
    @include span-columns(12);
  }

  #chart-container-activity {
    @include span-columns(12);
  }

  .hi a:nth-child(1){
    margin-right: 20px;
  }
}
